.container{
    height:600px;
    width: 600px;
    background-color: pink;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-gap:10px;
    font-size:1.5rem;
   
}

.header{
    grid-column:1 /span 12;
}
.sidebar{
    grid-template-columns: 1/span 3;
    grid-template-rows:2/span 10;   
}
.navigation{
    grid-template-columns: 4/span 6;
    
}
.ads{
    grid-column: 10/span 3;
    grid-row:2/span 10;
}
.main{
   grid-column: 10/span 3;
   grid-row:3/span 9; 
}
.footer{
    grid-column:1/span 12;
}
