/* Flex Box *//*
Note: this Is the Very important Property bro 
Note:Ye Ratna Nahi Ese Eplement karna jada 

Defination: Yaha Par Haam Apne Element Ko Arrange Karne ka ek tarika dena Sikhinge Samjha  

What is Flexbox ? >
Flexible Box Layout:
Def:It is a one-dimensional layout method for arranging items in rows or columns.
Note Main point: Aaj Ki date Me Bahot  Sare Screen Type Ho gaye Hai Bae Chote Bahot bade Etc To Web Paage Unke according Apne Ap Ko channge Kar paye Ye Cheej haam control karne ke liye Flex Box Ka Use Kiya Jata hai 
                 Matlb Ki Flex box hamre WebSite ko Responsive banane Me Help Karta Hia 
                 Responsive Means Jaise Hamre Chote Divece Phone + Laptop jaise cheejo par acche layout me apne elements ko Display karati haiacche tarike Se uska User Interface Present kiya jata hai That is Called Responsiveness of web Page 
                 Kyu Ki Screen Lay Out Change hone Se hamra Lay Out Fexible Jaisa Behave karata hai aur wahi se ye FlexBox ka Concept aya 


Flex box padhne se pahele ek cheej hoti hia jisse padhenge haam 
Wo Hai Flex Model :
                 

*/