
body{
    background-color:yellowgreen
}
    div{
    color:black;
    background-color: white;
}
h1{
    color:orange;

}
p{
    color:aliceblue;
    background-color:black;
}
button{
    color:white;
    background-color:blue;
}