/*                                                                                                               */


div{
    background-color: Yellow;
}
form{
    background-color: red;
}
input{
    background-color: inherit;
}