/* 


Flexbox Direction: Ye Ye bata hai Ki Kon se axis ke Ke alaong element Placed kiya jayega Samjha na  
Def: It sets how flex items are placed in the flex container, along which axis and direction.

1- flexbox-direction : row; main axis, left to right
2- flexbox-direction:  row-reverse;   main axis,   right to left
3- flexbox-direction:  column-reverse;main axis,   bottom to top
4- flexbox-direction : column;        main axis,   top to bottom

*/

#container{
height: 300px;
width: 80%;
background-color: azure;
margin: 10px auto;
border: 2px solid ☐ black;
display: flex;
flex-direction: column;
}
h1 {
text-align: center;
}
#container div {
    height: 100px;
    width: 100px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
